{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesi칩n{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesi칩n</h1>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form method="post">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contrase침a</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Iniciar Sesi칩n
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small class="text-muted">Sistema Interno &copy; {{ 'now'|date('Y') }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
